   <div class = 'home-container'>
  <nav class = 'nav N/A transparent z-depth-0'>
    <div class="nav-wrapper">
      <a href="#!" class="logo right">Travis Erickson</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a ng-click='work()'class="word">work</a></li>
        <li><a ng-click='work()'class="word">about</a></li>
        <li><a ng-click='work()'class="word">contact</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a class="word ">work</a></li>
        <li><a class="word">about</a></li>
        <li><a class="word">contact</a></li>
      </ul>
    </div>
  </nav>
  <div>
    <iframe   src="https://drive.google.com/file/d/0B_Jw5FhT1ij5bTUtaUtBN3k4TVE/preview?&autoplay=1&"  width="100%" height='720'></iframe>
  </div>
  
 
  </div>
  