<h1>Projects that I created with my bare hands</h1>

<div class = 'work'>
    <div class = 'row'>
      <a><img class = 'work-img col s12 m8'src="img/jds.jpg" alt=""></a>
      <h5 class = 'work-h4 col s12 m4'>An ecommerce site for a jewelry tool manufacturer. This is a fully functioning site with a homemade shopping cart, paypal integtrated payments, and inventory control system. Click on the page to take a peek at the real thing or <a href='github.com'>here</a> to take a peek behind the scenes at github.</h5>
    </div>
    <div class = 'row'>
      <p class = 'work-p col s12 m4'>A iphone and android app designed to help you lose weight by counting macro calories with an API to track your food and a diary.</p>
      <a><img src="" alt=""></a>
    </div>
    <div class = 'row'>
      <a><img class = 'work-img col s12 m8' src="img/openchair.jpg" alt=""></a>
      <h5 class = 'work-p col s12 m4'>OpenChair.in is an appointment scheduling website akin to open table. The problem this solves is that open table only works for restaurants and not other businesses that could actually use it. OpenChair.in will allow any business that wants to, create and manage a scheduling calendar so that they can keep track of appointments more efficiently, and make themselves easier to find. This was made with some great people from my class. I worked on OAuth, building a functional calendar that populates from the database appointments and change them through draggin and dropping as well as dragging them to extend them. I also built out server databases as well as worked on the schema's.</h5>
    </div>
      <div class = 'row'>
        <h5 class = 'work-p col s12 m4'>Seek and Spell is a game that I built using angular and firebase. It randomly genterates 16 words, 4 vowels and 12 consanats. You use the letter to make a word. Once you submit it sends the word through a dictionary API that tells the program if the word is a real word. If it is, it then breaks down the word by letters and assigns each letter a point value based on it's difficulty. It then adds up the points and multiplys them by the number of letters in your word. It then searches the database in firebase and if your score is in the top ten it populates it.</h5>
        <a><img class = 'work-img col s12 m8'  src="img/sas.jpg" alt=""></a>
    </div>
</div>