.word{
	color:#B0B8AB;
	text-shadow: 1px 1px black;
	font:25px;
	
}
nav .logo{
	color:#B0B8AB;	
	text-shadow: 1px 1px black;
	font-size: 30px;
	padding-right: 10px;
}

.work-img{
	width:100%;
	
}
.main-img{
	width:100%;
	margin-top:-6%;
	align-items: center
}
.work-h4{
	margin-top:10%;
}
nav .logo right{
	color: Black;
}